services:
  api:
    build: .
    container_name: backend-api
    env_file:
      - .env
    ports:
      - "3333:3333"
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: vibz
    ports:
      - "5434:5432"
